<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marham.marhamvideocalllibrary">

    <application android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.appointments.AllVideoConsultationsScreenMainActivity"
            android:exported="false" />
        <activity
            android:name="activities.general.ImageViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.patientrecord.PrescriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.search.SearchSpecialityAndDiseaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.doctor.BookVideoConsultationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.doctor.DoctorProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.doctor.DoctorListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.speciality.SearchSpecialityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.disease.SearchDiseaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MarhamDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>