<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marham.marhamvideocalllibrary">

    <application android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorListingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.speciality.SearchSpecialityActivity"
            android:exported="false" />
        <activity
            android:name=".activities.disease.SearchDiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MarhamDashboardActivity"
            android:exported="false" />
    </application>

</manifest>